employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="COMPANY">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="EMPLOYEE" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="ID"/>
              <xs:element type="xs:string" name="NAME"/>
              <xs:element type="xs:byte" name="AGE"/>
              <xs:element type="xs:int" name="SALARY"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:long" name="MOBNUM"/>
              <xs:element type="xs:string" name="DESIGNATION"/>
              <xs:element type="xs:string" name="PROMOTION"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>